@import "../../styles/breakpoints.scss";
@import "../../styles/variables.scss";

.footer {
  padding: 3rem $padding-horizontal;
  background-color: $bg-dark;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 8rem;

  img {
    width: min(35vw, 12rem);
  }
}
