@import "../../styles/breakpoints.scss";
@import "../../styles/variables.scss";

.header {
  min-height: 15rem;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),
    url("../../../public/assets/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: $padding-vertical $padding-horizontal;

  &__content {
    letter-spacing: 0.2rem;
    font-size: max(1.7vw, 1.5rem);
  }
}
