@import "../../styles/breakpoints.scss";
@import "../../styles/variables.scss";

.header {
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),
    url("../../../public/assets/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  div {
    font-size: max(1.4rem, 1.2vw);
    letter-spacing: 0.2rem;
  }
}
